@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #bfbfbf;
  background-color: rgb(43, 57, 88);
  letter-spacing: 0.03rem;
  line-height: 1.4rem;
}

#bg1, #bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left center;

  transition-property: opacity;
  transition-duration: 0.7s;
}

#bg2 {
  opacity: 0;
}

main {
  height: 100%;
  width: 38.2%;
  background: rgba(43, 57, 88, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;

  transition-property: width, background-color;
  transition-duration: 1s;
}

main.is-loading {
  width: 100%;
  background: rgb(43, 57, 88);
}

h2 {
  color: #c5c5c5;
}

li {
  list-style: none;
  margin: 2px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#icon {
  display: block;
  width: 10rem;
  height: auto;
  border-radius: 5px;
}

#profile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile > * {
  margin: 5%;
}

#social {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 1200px) {
  #profile {
    flex-flow: column nowrap;
  }
}

@media (max-width: 720px) {
  main {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
